src/com/carrington/WIA/OtherTemporary/
target/
bin/
test/
package-mac.command
RnD/*
config_sep.properties
config_combo.properties
*.swp
*.class
!plugins/*.class
!ECGViewer/plugins/*.class
data/*
.DS_Store
.settings/